@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        outline: none !important;
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust based on your desired height */
    overflow: hidden;
  }

  .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .slider-image.active {
    opacity: 1;
  }
